.breadcrumbs {
  display: flex;
  height: 40px;

  &__item {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
  }

  &__icon {
    color: var(--color-black);
  }

  &__link {
    color: var(--color-black);
    text-decoration: none;
  }

  &__label {
    color: var(--color-black);
  }
}
