<div class="dialog">
  <header class="dialog__header">
    <mat-icon>{{ icon }}</mat-icon>
  </header>
  <div #modalBody class="dialog__body">
    <h3 mat-dialog-title class="dialog__title">{{ data?.title | translate }}</h3>
    <p class="dialog__text" *ngIf="data?.message" [innerHTML]="data?.message | translate"></p>
    <div class="dialog__template" *ngIf="data?.template">
      <ng-container *ngTemplateOutlet="data.template; context: context"></ng-container>
    </div>
  </div>
  <modal-actions *ngIf="data?.actions" [actions]="data?.actions" (submitted)="onSubmit()"></modal-actions>
</div>
