.dialog {
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 0;
  }

  &__body {
    padding: 2rem;
  }

  & &__title {
    font-weight: var(--fw-medium);
    font-size: 1.7rem;

    &::before {
      content: none;
    }
  }

  &__title,
  &__text {
    text-align: center;
  }

  &__text {
    font-size: 1.5rem;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__template {
    font-size: 1.3rem;
    margin-bottom: 1.5em;
  }

  &__actions {
    justify-content: center;
    gap: 2rem;
  }

  &__button {
    &.mat-mdc-button-base {
      min-width: 12rem;
    }

    &:only-child {
      flex-grow: 1;
    }
  }
}
