:host {
  display: flex;
  flex-direction: column;
}

.data-table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__table-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem 3rem 0;
  }

  &__table-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
  }

  &__empty-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 2rem;
  }

  &__empty-icon {
    height: 4.5em;
    width: 4.5em;
    margin-bottom: 0.5em;
  }
}
