$color-blue: #1847cf;
$color-primary: $color-blue;

$color-orange: #f2870d;
$color-accent: $color-orange;

$color-red: #f84040;
$color-warn: $color-red;

$color-black: #000;
$color-gray: #dcdcdc;
$color-white: #fff;

:root {
  --color-blue: #{$color-blue};
  --color-primary: #{$color-primary};
  --color-orange: #{$color-orange};
  --color-accent: #{$color-accent};
  --color-red: #{$color-red};
  --color-warn: #{$color-warn};
  --color-black: #{$color-black};
  --color-gray: #{$color-gray};
  --color-white: #{$color-white};
}
