<button mat-button [matMenuTriggerFor]="dropdown" class="dropdown" #menuTrigger="matMenuTrigger">
  <span class="dropdown__title">
    <span class="dropdown__icon-wrap" *ngIf="iconName">
      <mat-icon class="dropdown__icon" [svgIcon]="iconName"></mat-icon>
    </span>
    <ng-content></ng-content>
    <span class="dropdown__icon-wrap">
      <mat-icon class="dropdown__icon">{{ menuTrigger.menuOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
    </span>
  </span>
</button>

<mat-menu
  [class]="panelClass ? 'dropdown-panel ' + panelClass : 'dropdown-panel'"
  #dropdown="matMenu"
  xPosition="before"
  [backdropClass]="isTranslateY ? 'translatey-menu' : ''"
>
  <button class="dropdown-panel__item" mat-menu-item *ngFor="let item of items; let idx = index" disableRipple>
    <ng-container *ngIf="item?.content">
      <ng-container
        *ngTemplateOutlet="item?.template ? item.template : defaultItemTemplate; context: { $implicit: item?.content }"
      ></ng-container>
    </ng-container>
  </button>
</mat-menu>

<ng-template #defaultItemTemplate let-item>
  {{ item | json }}
</ng-template>
