<label>
  <mat-form-field [appearance]="appearance" [floatLabel]="floatLabel">
    <mat-label *ngIf="withLabel && placeholder">{{ placeholder }}</mat-label>
    <mat-icon matPrefix *ngIf="icon" [svgIcon]="icon" color="primary">{{ icon }}</mat-icon>
    <input
      matInput
      [maxLength]="maxLength"
      [type]="type"
      [formControl]="formControl"
      [placeholder]="placeholder"
      [required]="required"
      [readonly]="readonly"
      [autocomplete]="autocomplete"
      (keydown.enter)="onEnter($event)"
    />
    <button *ngIf="isPasswordInput" [disabled]="disabled" mat-icon-button matSuffix tabindex="-1" type="button" (click)="togglePassword()">
      <mat-icon>{{ buttonIcon }}</mat-icon>
    </button>
    <button
      *ngIf="isSearchInput"
      [disabled]="disabled"
      mat-icon-button
      matSuffix
      tabindex="-1"
      type="button"
      (click)="search.emit(formControl.value)"
    >
      <mat-icon>search</mat-icon>
    </button>
    <mat-error *ngIf="control?.invalid && errorMessage">{{ errorMessage }}</mat-error>
  </mat-form-field>
</label>
