.table {
  &_hoverable &__row {
    cursor: pointer;

    &:hover {
      background-color: rgb(var(--value-teki-dark-blue) / 12%);
    }
  }

  &::ng-deep {
    [class*="mat-column-"] {
      --size: unset;
      min-width: var(--size);
      max-width: var(--size);
      width: var(--size);
    }

    .mat-mdc-column-createdAt,
    .mat-mdc-column-lastUpdatedAt {
      max-width: 14rem;

      &:last-child {
        max-width: calc(14rem + 24px);
      }
    }
  }
}
