.modal-actions {
  margin-top: 2rem;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem 2rem;

  &__button {
    &.mat-mdc-button-base {
      min-width: 12rem;
    }

    &:only-child {
      flex-grow: 1;
    }
  }
}
